{% extends 'base.html' %} {% block content %}

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Hospital Management System</h1>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Newest Technologies</h5>
        <div class="card-body">
          <p class="card-text">
            We are a healthcare facility that prides in the use of latest
            technologies. We strive to bring more healthcare technologies to you
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Experienced Doctors</h5>
        <div class="card-body">
          <p class="card-text">
            Our qualified group of experienced and well-trained doctors will get
            you the medical attention you desire
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">High Customer Satisfaction</h5>
        <div class="card-body">
          <p class="card-text">
            Our record of customer satisfaction is very evident in the number of
            good reviews we get on a daily basis
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Pharma Pipeline</h5>
        <div class="card-body">
          <p class="card-text">
            We have some of the best medications for you ailments. For those
            unavailable, we can get the for you
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">Pharma Team</h5>
        <div class="card-body">
          <p class="card-text">
            We guarantee an experience that you may never have felt before. The
            keen attention to detail by our doctors
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <h5 class="card-header">High Quality treatments</h5>
        <div class="card-body">
          <p class="card-text">
            Look no further for high quality treatments. The medication you
            desire is right here at Moringa Hospital
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
